/* ******************************************************************************************   */
/*                                          TABS                                                */
/* ******************************************************************************************   */

    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        margin: 2px;
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 10px 8px;
      transition: 0.3s;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        display: block;
    }

/* 
----------------------------------------------------------------------------------
Each section has a GRID-AREA named after the section ID
----------------------------------------------------------------------------------
*/

#container {
    grid-area: container;
}

header {
    grid-area: header;
    display: grid;
}

#username {
    
    grid-area: username;

    display: flex;
    align-items: center;        
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    padding: 3px;
    border: 1px solid darkgray;
    background-color: rgba(141,27,61, 0.5);    
}

#logo {

    grid-area: logo;
    text-align: center;
}

#qatar-flag-l { grid-area: qatar-flag-l };
#header-text  { grid-area: header-text };
#hb-icon      { grid-area: hb-icon };


#tabs {
    display: none;
}

#tournament {
    grid-area: tournament;
}

#FIXTURES {
    grid-area: FIXTURES;
    
}    
        #team-header {
            grid-area: team-header;
            background-color: white;
        }

#GOALS-SCORED {
    
    grid-area: GOALS-SCORED;
    
    }

#update-user-points { grid-area: update-user-points; }
    #statistics-update { grid-area: statistics-update; }
    #data-import       { grid-area: data-import; }

    #update-user-points div {
        display: flex;
        justify-content: center;
        /* margin: 20px; */
    }

    .confirm-import {
        display: flex;
        align-content: space-between;
        justify-content: space-around;
    }


.pos, .fixno, .predno {
    width: 6%;
    background-color: gainsboro;
}

.home, .away {
    width: 20%;
    padding-right: 5px;
    font-size: 1.2em;
}

.home {
    text-align: right;
}

.h-rank, .a-rank {
    width: 4%;
    background-color: aliceblue;
}

.hidden {
    width: 10%;
    display: none;
}

.away {
    text-align: left;
    padding-left: 5px;
}

.team {
    width: 30%;
    padding-left: 5px;
    text-align: left;
}

.country {
    width: 15%;
}

#goalteam {
    width: 92%;
    font-size: 1em;
} 

.player {
    width: 30%;
    padding-left: 5px;
    text-align: left;
}

.cols {
    width: 8%;
}

.home-flag, .away-flag {
    width: 6%
}

.home-flag img, .away-flag img {
    width: 55%;
    text-align: center;
}
.res, .pts, .bon {
    width: 4%;
    background-color: gainsboro;
}

.res-header {
    padding: 2px;
}

.predictions-home-flag, .predictions-away-flag {
    width: 4%
}

.results-home-flag img, .results-away-flag img {
    width: 80%;
    text-align: center;
}

.predictions-home-flag img, .predictions-away-flag img {
    width: 82%;
    text-align: center;
}

#playerheader {
    padding: 5px;
    font-size: 1em;
}

#playerheader th td {
    border: none;
}

.col-scorer {
    width: 80%;
}

.stats-update-btn {
    width: 40%;
}

#stats-update-tbl, td, th #data-import-tbl td, th {
    /* padding: 2px; */
}

.ls-color {
    background: lightpink;
}
.qf-color {
    background: lightcyan;
}
.sf-color {
    background: lightblue;
}
.pl-color {
    background: lightgoldenrodyellow;
}
.fi-color {
    background: lightgreen;
}

/* ******************************************************************************************   */
/*                                          ERROR MESSAGE                                       */
/* ******************************************************************************************   */

#update-msg {

    display: none;
    
    font-size: 0.9em;
    text-align: center;
    width: 90%;
    border: 2px solid greenyellow;
    margin: 10px auto;
    padding: 5px;
}

/* white text blue background                                      */
.goal-btn-blue { 
    display: inline-block; 
    padding: 5px 5px; 
    margin: 5px;
    color: navy; 
    border: 1px solid #00F; 
    text-decoration: none; 
    font-size: 12px; 
    line-height: 100%; 
    /* background-color: rgba(0,0,255, 0.6);  */
    border-radius: 2px; 
    transition: background-color 300ms ease; 
    cursor: pointer; 
}

.goal-btn-blue:hover { 
    /* background-color: rgba(0,0,255, 0.2);  */
    box-shadow: 5px 5px 5px lightblue;
    color: #000; 
}

#logout {
    text-align: center;
}

/* ******************************************************************************************   */
/*                                          FORM FIELDS                                         */
/* ******************************************************************************************   */


input {
    font-size: 1.1em;
    padding: 0px;
    margin: 0px;
}

input[id="goal-scorer"] {
    width: 95%;
    text-align: left;
}

/* ---------------------------------- END OF DEFAULT MEDIA RULE FOR 576 --------------------------------------------------------- */


/* ******************************************************************************************   */
/*                       MEDIA RULES 1200px 992ox 768px 576px                                   */
/* ******************************************************************************************   */
/* ******************************************************************************************   */
/* apply to any device that has a screen width of 576px or higher                              */
/* ******************************************************************************************   */

@media screen and (max-width:576px) {                   
    
    /* body {
        background-color: aqua;
    } */

    #tournament {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 3px;
        margin: 50px auto 0 auto;

        grid-template-areas:
            "GOALS-SCORED"
            "FIXTURES";

    }
    
    #container {
        grid-template-areas:
            "tournament";
    }

    main {
        width: 98%;
 
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 5px;
        margin: 0 auto;
    }
  
    #username {
        display: none;
    }

    header {
        grid-template-areas:
            "qatar-flag-l header-text hb-icon";
    }

    header {
        grid-area: header;
        grid-template-columns: 1fr 11fr 1fr;
        grid-template-rows: auto;
        grid-gap: 3px;
    }

    .home, .away {
        width: 18%;
        padding-right: 5px;
        font-size: 1em;
    }

    #results-tbl table {
        font-size: 0.7em;
        width: 98%;
    }
    
    #update-user-points { 

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        grid-template-areas: 
            "statistics-update" 
            "data-import";
    }

    #stats-update-tbl, #data-import-tbl {
        width: 98%;
    }

    .results-home-flag img, .results-away-flag img {
        width: 80%;
    }

    #goals-scored-selections table {
        font-size: 0.65em;
        width: 98%;
        padding: 1px;
    }

    #grp-winners-runnersup table {
        font-size: 0.65em;
        width: 98%;
        margin-top: 5px;
        padding: 1px;
    }

    .transparent-btn-blue {
        padding: 2px 2px;
        margin: 2px; 
        font-size: 10px;
        /* line-height: 100%; */
    }

    #goal-team {
        width: 50px;
        font-size: 1em;
    }

    input {
        font-size: 1em;
    }

    input[id="goal-scorer"] {
        width: 95%;
        text-align: left;
    }

} /** end of @media screen and (min-width 576:px) */

/* ******************************************************************************************   */
/* apply to any device that has a screen width of 576px or higher                              */
/* ******************************************************************************************   */

@media screen and (min-width:576px) {                   
    
    /* body {
        background-color: aqua;
    } */

    #tournament {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 3px;
        margin: 50px auto 0 auto;

        grid-template-areas:
            "GOALS-SCORED"
            "FIXTURES";

    }
    
    main {
        width: 98%;
 
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 5px;
        margin: 0 auto;
    }
      
    #container {
        grid-template-areas:
            "tournament";
    }

    #username {
        display: none;
    }

    header {
        grid-template-areas:
            "qatar-flag-l header-text qatar-flag-r hb-icon";
    }

    header {
        display: grid;
        grid-area: header;
        grid-template-columns: 1fr 10fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 3px;
    }

    #header-text {
        font-size: 1.1em;
    }

    .home, .away {
        width: 18%;
        padding-right: 5px;
        font-size: 1em;
    }

    #results-tbl table {
        font-size: 0.7em;
        width: 98%;
    }
    
    #update-user-points { 

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        grid-template-areas: 
            "statistics-update" 
            "data-import";
    }

    #stats-update-tbl, #data-import-tbl {
        width: 60%;
    }

    .results-home-flag img, .results-away-flag img {
        width: 80%;
    }

    #goals-scored-selections table {
        font-size: 0.7em;
        width: 100%;
        padding: 2px;
    }

    #grp-winners-runnersup table {
        font-size: 0.7em;
        width: 98%;
        margin-top: 5px;
        padding: 1px;
    }

    .transparent-btn-blue {
        /* padding: 4px 4px; */
        margin: 2px; 

        font-size: 10px;

        /* line-height: 100%; */
    }

    input {
        font-size: 1em;
    }

    input[id="goal-scorer"] {
        width: 95%;
        text-align: left;
    }

} /** end of @media screen and (min-width 576:px) */

/* ******************************************************************************************   */
/* apply to any device that has a screen width of 768px or higher                              */
/* ******************************************************************************************   */

@media screen and (min-width:768px) {                   
    
    /* body {
        background-color: bisque;
    } */

    #tournament {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 3px;
        margin: 70px auto 0 auto;

        grid-template-areas:
            "GOALS-SCORED"
            "FIXTURES";

    }
    
    main {
        width: 98%;
 
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 5px;
        margin: 0 auto;
    }
  
    #container {
        grid-template-areas:
            "tournament";
    }

    header {
        grid-template-areas:
            "qatar-flag-l header-text qatar-flag-r username hb-icon";
    }

    header {
            grid-template-columns: 1fr 10fr 1fr 1fr 1fr;
    } 

    #username {
        display: flex;
    }

    .home, .away {
        width: 18%;
        padding-right: 5px;
        font-size: 1.1em;
    }

    #results-tbl table {
        font-size: 0.7em;
        width: 70%;
    }
    
    #update-user-points { 

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;

        grid-template-areas: 
            "statistics-update data-import";
    }

    #stats-update-tbl, #data-import-tbl {
        width: 80%;
    }

    .results-home-flag img, .results-away-flag img {
        width: 80%;
    }

    #goals-scored-selections table {
        font-size: 0.75em;
        width: 98%;
        padding: 2px;
    }

    #grp-winners-runnersup table {
        font-size: 0.75em;
        width: 98%;
        margin-top: 5px;
        padding: 1px;
    }


    .transparent-btn-blue {
        /* padding: 4px 4px; */
        margin: 2px; 
        
        font-size: 10px;

        /* line-height: 100%; */
    }

    input {
        font-size: 1em;
    }

    input[id="goal-scorer"] {
        width: 95%;
        text-align: left;
    }

} /** end of @media screen and (min-width:768px) */

/* ******************************************************************************************   */
/* apply to any device that has a screen width of 992px or higher                              */
/* ******************************************************************************************   */

@media screen and (min-width:992px) {                   
    
    /* body {
        background-color: plum;
    } */

    #container {
        grid-template-areas:
            "tournament";
    }

    main {
        width: 100%;
 
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 5px;
        margin: 70px auto 0 auto;
    }

    #tournament {
        display: grid;
        grid-template-columns: 0.8fr 1.2fr;
        grid-template-rows: auto;
        grid-gap: 3px;
        margin: 0 auto;

        grid-template-areas:
            "FIXTURES GOALS-SCORED";

    }
    
    header {
        grid-template-areas:
            "qatar-flag-l header-text qatar-flag-r username hb-icon";
    }

    header {
        grid-template-columns: 1fr 10fr 1fr 1fr 1fr;
    } 
    
    .home, .away {
        width: 15%;
        padding-right: 3px;
        font-size: 1.1em;
    }

    #results-tbl table {
        font-size: 0.7em;
        width: 100%
    }
    
    #update-user-points { 

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        grid-template-areas: 
            "statistics-update" 
            "data-import";
    }

    #stats-update-tbl, #data-import-tbl {
        width: 80%;
    }

    .results-home-flag img, .results-away-flag img {
        width: 80%;
    }

    #goals-scored-selections table {
        font-size: 0.75em;
        width: 98%;
        padding: 2px;
    }

    #grp-winners-runnersup table {
        font-size: 0.75em;
        width: 100%;
        margin-top: 5px;
        padding: 1px;
    }

    .transparent-btn-blue {
        /* padding: 4px 4px; */
        margin: 2px; 
        font-size: 10px;
        /* line-height: 100%; */
    }

    #stats-update-tbl, #data-import-tbl {
        width: 64%;
    }

    input {
        font-size: 1em;
    }

    input[id="goal-scorer"] {
        width: 95%;
        text-align: left;
    }

} /** end of @media screen and (min-width:992px) */

/* ******************************************************************************************   */
/* apply to any device that has a screen width of 1200px or higher                              */
/* ******************************************************************************************   */

@media screen and (min-width:1200px) {                   
    
    /* body {
        background-color: gold;
    } */

    #container {
        grid-template-areas:
            "tournament";
    }

    main {
        width: 98%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 5px;
        margin: 80px auto 0 auto;
    }

    #tournament {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        grid-gap: 5px;
        margin: 0 auto;

        grid-template-areas:
            "FIXTURES GOALS-SCORED";

    }  

    header {
        grid-template-areas:
            "qatar-flag-l header-text qatar-flag-r username hb-icon";
    }

    header {
        grid-template-columns: 1fr 10fr 1fr 1fr 1fr;
    } 
    
    .home, .away {
        width: 20%;
        padding-right: 5px;
        font-size: 1.2em;
    }

    #results-tbl table {
        font-size: 0.65em;
    }

    #goals-scored-selections table {
        font-size: 0.8em;
        width: 98%;
        padding: 2px;
    }

    #grp-winners-runnersup table {
        font-size: 0.8em;
        width: 98%;
        margin-top: 5px;
        padding: 1px;
    }

    .transparent-btn-blue {
        font-size: 10px;
    }

    .transparent-btn-blue {
        /* padding: 5px 5px; */
        margin: 2px; 

        font-size: 10px;

        /* line-height: 100%; */
    }

    #stats-update-tbl, #data-import-tbl {
        width: 50%;
    }

    input {
        font-size: 1em;
    }

    input[id="goal-scorer"] {
        width: 95%;
        text-align: left;
    }
    
} /** end of @media screen and (min-width:1200px) */

