/* 
----------------------------------------------------------------------------------
Each section has a GRID-AREA named after the section ID
----------------------------------------------------------------------------------
*/

#container {
    grid-area: container;
}

header {
    margin-bottom: 5px;    
} 

#username {
    grid-area: username;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    padding: 3px;
    border: 1px solid darkgray;
    background-color: rgba(141,27,61, 0.5);

}

#login-details {
    grid-area: login-details;
}

#personal-details {
    grid-area: personal-details;
}

#payment-details {
    grid-area: payment-details;
}

#competition-details {
    grid-area: competition-details;
}

#team-details {
    grid-area: team-details;
}

#update-profile {
    grid-area: update-profile;
}

    #update-profile div {
        display: flex;
        justify-content: center;
    }

    #update-messages {
        border: 1px solid green;
        background-color: aliceblue;
    }

    .profile-info {
        padding: 5px;
        background-color: beige;
    }

input {
    width: 94%;
    color: darkblue;
    background-color: aliceblue;
    font-size: 1em;
    padding: 5px;
    margin: auto 5px;
    text-align: left;
}
section {
    padding: 5px;
    text-align: center;
}

#login-register {
    text-align: center;
}

th, td {
    border: 1px dotted black;
}

#similar-names-tbl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#similar-names-tbl div {
    cursor: pointer;
    margin-top: 5px;
    border: 1px dotted green;
    padding: 2px 4px;
    font-size: 0.8em;
}

/* ---------------------------------- END OF DEFAULT MEDIA RULE FOR 576 --------------------------------------------------------- */


/* ******************************************************************************************   */
/*                       MEDIA RULES 1200px 992ox 768px 552px                                   */
/* ******************************************************************************************   */

/* ******************************************************************************************   */
/* apply to any device that has a screen width of 1200px or higher                              */
/* ******************************************************************************************   */

@media screen and (min-width:1200px){                   
 
    /* 
    ----------------------------------------------------------------------------------
    Grid is three columns - specify what is in each column on each row
    header, navigation, and footer span across the 3 colums
    content is spaced into each column as seen below.
    ----------------------------------------------------------------------------------
    */
    #container{
        grid-template-areas:
            "header header header"
            "login-details personal-details payment-details"
            "competition-details team-details update-profile"
            "footer footer footer";
    }
 
    header {
        grid-template-areas: "logo qatar-flag-l header-text qatar-flag-r username hb-icon";
    }

    header {
        display: grid;
        grid-area: header;
        grid-template-columns: 1fr 1fr 10fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 10px;
        justify-content: center;
    }

}

/* ******************************************************************************************   */
/* apply to any device that has a screen width of 992px or higher                               */
/* ******************************************************************************************   */
/*  Grid is three columns - specify what is in each column on each row                          */
/*  header, navigation, and footer span across the 3 colums                                     */
/*  content is spaced into each column as seen below.                                           */
/* ******************************************************************************************   */

@media screen and (max-width:1200px){                   
    
    /* body {
        background-color: antiquewhite;
    } */

    #container{
        grid-template-areas:
            "header header"
            "login-details personal-details" 
            "payment-details competition-details"
            "team-details update-profile"
            "footer footer";
    }
    
    main{
        width: 90%;
 
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-gap: 5px;
        margin: 0 auto;
    }
 
    header {
        grid-template-areas: "logo qatar-flag-l header-text qatar-flag-r username hb-icon";
    }

    header {
        display: grid;
        grid-area: header;
        grid-template-columns: 1fr 1fr 10fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 10px;
        justify-content: center;
    }

    .transparent-btn-blue {
        margin: 2px;
    }
 
}

/* ******************************************************************************************   */
/* apply to any device that has a screen width of 768px or higher                              */
/* ******************************************************************************************   */
/*  Grid is three columns - specify what is in each column on each row                          */
/*  header, navigation, and footer span across the 3 colums                                     */
/*  content is spaced into each column as seen below.                                           */
/* ******************************************************************************************   */

@media screen and (max-width:992px){                   
    
    /* body {
        background-color: burlywood;
    } */

    #container{
        grid-template-areas:
            "header header"
            "login-details personal-details" 
            "payment-details competition-details"
            "team-details update-profile"
            "footer footer";
    }

    main{
        width: 90%; 
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10vh auto auto auto auto;
        grid-gap: 5px;
        margin: 0 auto;
    }
 
    header {
        grid-template-areas: "logo qatar-flag-l header-text qatar-flag-r username hb-icon";
    }

    header {
        display: grid;
        grid-area: header;
        grid-template-columns: 1fr 1fr 10fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 10px;
        justify-content: center;
    }

    .transparent-btn-blue {
        margin: 2px;
    }
 
}

/* ******************************************************************************************   */
/*  Grid is 1 column - specify what is in each column on each row                               */
/*  header, navigation, and footer span across the 3 colums                                     */
/*  content is spaced into each column as seen below.                                           */
/* ******************************************************************************************   */
/* apply to any device that has a screen width of 552px or higher                               */
/* ******************************************************************************************   */

@media screen and (max-width:768px){                   

    #container{
        grid-template-areas:
            "header"
            "login-details"
            "personal-details" 
            "payment-details"
            "competition-details"
            "team-details"
            "update-profile"
            "footer";
    }
 
    main{
        width: 90%;
 
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 5px;
        margin: 0 auto;
    }
 
    header {
        grid-template-areas: "qatar-flag-l header-text qatar-flag-r username hb-icon";
    }

    header {
        display: grid;
        grid-area: header;
        grid-template-columns: 1fr 10fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 4px;
        justify-content: center;
    }

    header h1 {
     font-size: 2em;
    }

    #footer p {
        font-size: 10px;
        margin-bottom: 5px;
    }

    #footer ul li {
        margin: 0 10px;                     /* spreads out the line items containing the social media icons */
    }

    #footer ul li a {
        font-size: 30px;                    /* makes the icons bigger and ensure the cursor is always the pointer */
    }
}

/* ******************************************************************************************   */
/*  Grid is 1 column - specify what is in each column on each row                               */
/*  header, navigation, and footer span across the 3 colums                                     */
/*  content is spaced into each column as seen below.                                           */
/* ******************************************************************************************   */
/* apply to any device that has a screen width of 576px or higher                               */
/* ******************************************************************************************   */

@media screen and (max-width:576px){                   

    #container{
        grid-template-areas:
            "header"
            "login-details"
            "personal-details" 
            "payment-details"
            "competition-details"
            "team-details"
            "update-profile"
            "footer";
    }
 
    main{
        width: 90%;
 
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 5px;
        margin: 0 auto;
    }
 
    header {
        grid-template-areas: "qatar-flag-l header-text username hb-icon";
    }

    header {
        display: grid;
        grid-area: header;
        grid-template-columns: 0.5fr 11fr 1fr 1.5fr;
        grid-template-rows: auto;
        grid-gap: 4px;
        justify-content: center;
    }

    header h1 {
     font-size: 2em;
    }

    #footer p {
        font-size: 10px;
        margin-bottom: 5px;
    }

    #footer ul li {
        margin: 0 10px;                     /* spreads out the line items containing the social media icons */
    }

    #footer ul li a {
        font-size: 30px;                    /* makes the icons bigger and ensure the cursor is always the pointer */
    }
}