#body-top {
    grid-area: body-top;

    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 70vh auto; */

}

#login-container { 

    grid-area: login-container;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 70vh auto;

    width: 98%;
    margin: 0 auto;

}

header {
    margin-top: 5px;
    grid-area: header;
}

#header-text div {
    grid-area: header-text;

    font-size: 2.5em;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px #e900ffd1;
}

/* #login-container { 

    grid-area: login-container;

    display: flex;
    flex-direction: column;
    margin: auto 0;
    
} */

#wrapper { 
    
    grid-area: wrapper;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    min-width: 300px;

    padding: 10px;
    margin: auto auto;

    border: 1px solid #0E6EB8;
    border-radius: 10px;
}
#wrapper > * {
    margin: 10px;
    text-align: center;
}

#wrapper > h2 {
    padding-top: 10px;
}

.button-group input, button { 
    margin: 5px;
    padding: 5px;
}
.input-group * { 
    margin: 5px;
    padding: 5px;
    text-align: left;
    font-size: 1em;
}

.help-block-nodisplay {
    display: none; 
}

.help-block-failure {
    color: red;
    background: lightgrey;
    padding: 10px;
    border: 1px solid black;
}

.help-block-success {
    color: green;
    background: lightgrey;
    padding: 10px;
    border: 1px solid black;
}

#footer {
    grid-area: footer;
}

/* ---------------------------------- END OF DEFAULT MEDIA RULE FOR 576 --------------------------------------------------------- */


/* ********************************************** MEDIA RULES *******************************   */

/* ******************************************************************************************   */
/* apply to any device that has a screen width of 576px or higher                               */
/* ******************************************************************************************   */
@media screen and (min-width: 576px) {
    /* #body-top {

        grid-template-areas:
            "header"
            "login-container"
            "footer";
    } */

    /* 
    ----------------------------------------------------------------------------------
    Grid is 1 column - specify what is in each column on each row
    header, login form and footer
    content is spaced into each column as below.
    ----------------------------------------------------------------------------------
    /* 
    #login-container {
        grid-template-areas:
            "header"
            "wrapper"
            "footer";
    } */
}
/* ******************************************************************************************   */
/* apply to any device that has a screen width of 768px or higher                               */
/* ******************************************************************************************   */
@media screen and (min-width: 768px) {
}
/* ******************************************************************************************   */
/* apply to any device that has a screen width of 992px or higher                               */
/* ******************************************************************************************   */
@media screen and (min-width: 992px) {
}
/* ******************************************************************************************   */
/* apply to any device that has a screen width of 1200px or higher                              */
/* ******************************************************************************************   */
@media screen and (min-width: 1200px) {   

    #body-top {

        grid-template-areas:
            "login-container";
    }
    /* 
    ----------------------------------------------------------------------------------
    Grid is 1 column - specify what is in each column on each row
    header, login form and footer
    content is spaced into each column as below.
    ----------------------------------------------------------------------------------
    */
    #login-container {
        grid-template-areas:
            "header"
            "wrapper"
            "footer";
    }

}  
