*{                                  /* Override browsers default CSS rules  */
    margin:0;
    padding:0;
    box-sizing: content-box;
}

body {
     font-family: 'Open Sans', sans-serif;
     /* background-color: #131633; */
     background-color: white;
     color: #34495e;
}

/* ******************************************************************************************   */
/*                                          TABS                                                */
/* ******************************************************************************************   */

    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        margin: 2px;
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 10px 8px;
      transition: 0.3s;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
/*
        flex-flow: row wrap;
        justify-content: space-around;  
        background: #5f9fff;
        margin:5px 2px 15px 2px;
        padding: 5px 5px;
        border: 1px solid #ccc;
        border-top: none;
*/
    }

/* 
----------------------------------------------------------------------------------
Each section has a GRID-AREA named after the section ID
----------------------------------------------------------------------------------
*/

#container {
    margin-top: 5px;
}

header {
    
    display: grid;
    grid-area: header;
    grid-template-columns: 1fr 10fr 2fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    
    width: 100%;
    background-color: lightgray;
    align-items: center;
    justify-content: center;    
/*    margin: auto auto;*/
} 

header h1 {
     font-size: 2.5em;
     text-align: center;
     color: white;
     margin-bottom: 20px;
     text-shadow: 2px 2px #22638E;
}

header img {
    width: 75px;
}

#logo {
    text-align: center;
}

nav {
    grid-area: nav;
}

#tabs {
    grid-area: tabs;
}

#tournment {
    grid-area: tournment;
}

#GROUPS {
    grid-area: GROUPS;
    
    /* background-color: white;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around; */
}
    
        #team-header {
            grid-area: team-header;
            background-color: white;
        }

        #GroupA {
            width: 50%;
            grid-area: GroupA;
            background-color: skyblue;
        }

        #TableA {
            width: 50%;
            grid-area: TableA;
            background-color: aliceblue;
        }

        #GroupB {
            width: 50%;
            grid-area: GroupB;
            background-color: skyblue;
        }

        #TableB {
            width: 50%;
            grid-area: TableB;
            background-color: aliceblue;
        }

        #GroupC {
            width: 50%;
            grid-area: GroupC;
            background-color: skyblue;
        }

        #TableC {
            width: 50%;
            grid-area: TableC;
            background-color: aliceblue;
        }

        #GroupD {
            width: 50%;
            grid-area: GroupD;
            background-color: skyblue;
        }

        #TableD {
            width: 50%;
            grid-area: TableD;
            background-color: aliceblue;
        }

#KNOCKOUT-STAGE {
    
    grid-area: KNOCKOUT-STAGE;
    
    /* background-color: white;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around; */
    }
    
        #QuarterFinal {
            grid-area: QuarterFinal;
            background-color: skyblue;
        }

        #SemiFinal {
            grid-area: SemiFinal;
            background-color: skyblue;
        }

        #Final {
            grid-area: Final;
            background-color: skyblue;
        }

#TOP-SCORER {
    grid-area: TOP-SCORER;
}

    #top-goal-scorer {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: auto;
    }

    #top-scorer-instructions {
        padding: 10px;
        font-size: 0.9em;
    }

    #top-scorer-selections {
        display: flex;
    }

    #top-scorer-selections table {
        width: 60%;
    }

#SAVE-PREDICTIONS {
    
    grid-area: SAVE-PREDICTIONS;
    justify-content: center;

    background-color: white;
    width: 50%;
    padding: 10px;
    margin: 0 auto;            
    
}
        #chkbox-error {
            display: none;
            font-style: italic;
            text-align: center;
            padding: 10px;
            color: red;
        }

        input[type="checkbox"] {
            width: 5%;
        }

        #save-predictions {
            padding: 10px;
        }

        #confirm-save {

            grid-area: confirm-save;            
            padding: 10px;
            text-align: center;
        }    

        #confirm-btn {

            display: flex;
            justify-content: center;

        }    

        #confirm-predictions {
            text-align: center;
            padding:15px;
        }

        #save-btn {

            grid-area: confirm-btn;            

            border: 0;
            line-height: 2.5;
            padding: 0 20px;
            font-size: 1rem;
            text-align: center;
            color: #fff;
            text-shadow: 1px 1px 1px #000;
            border-radius: 10px;
            background-color: #3498db;
        }

        #save-btn:hover {
            background-color: cadetblue;
        }

        #save-btn:active {
            border-color: black;           
        }
            
#UPDATE-PREDICTIONS {
    
    grid-area: UPDATE-PREDICTIONS;
    justify-content: center;

    background-color: white;
    width: 50%;
    padding: 10px;
    margin: 0 auto;            
    
}
        #chkbox-error {
            display: none;
            font-style: italic;
            text-align: center;
            padding: 10px;
            color: red;
        }

        input[type="checkbox"] {
            width: 5%;
        }

        #update-predictions {
            padding: 10px;
        }

        #confirm-save {

            grid-area: confirm-save;            
            padding: 10px;
            text-align: center;
        }    

        #confirm-btn {

            display: flex;
            justify-content: center;

        }    
        #update-btn {

            grid-area: update-btn;            

            border: 0;
            line-height: 2.5;
            padding: 0 20px;
            font-size: 1rem;
            text-align: center;
            color: #fff;
            text-shadow: 1px 1px 1px #000;
            border-radius: 10px;
            background-color: #3498db;
        }

        #update-btn:hover {
            background-color: cadetblue;
        }

        #update-btn:active {
            border-color: black;           
        }

#RESULTS-PREDICTIONS {
    grid-area: RESULTS-PREDICTIONS;
}
    #results-predictions {
        grid-area: results-predictions;
    }

        #results {
            grid-area : results;
        }

            #results-tbl {
                width: 100%;
                background-color: skyblue;
            }

        #predictions {
            grid-area : predictions;

        }
            #predictions-tbl {
                width: 100%;
                background-color: skyblue;
            }

footer {
    grid-area: footer;

    display: flex;                                  /* display UL, P & P elements vertically and center them */
    flex-direction: column;
    align-items: center;

    background: linear-gradient(to bottom, #284e7a, #000 100%);
    color: white;
}

/* ******************************************************************************************   */
/*                                          IMAGES                                              */
/* ******************************************************************************************   */


/* ******************************************************************************************   */
/*                                          TABLES                                              */
/* ******************************************************************************************   */

.greenheader {
    background-color: green;
    color: white;
}

.blueheader {
    background-color: navy;
    color: white;
}

tbody {
    background-color: white;
    color: black;
}

table {
    font-size: 0.75em;
    width: 95%;
    padding: 2px;
    text-align: center;    
    border: 1px dotted black;
    margin: auto auto;
}

th, td {
    border-right: 1px dotted black;
    border-bottom: 1px dotted black;
}

.pos, .fixno, .predno {
    width: 6%;
    background-color: gainsboro;
}

.home {
    width: 26%;
    padding-right: 5px;
    text-align: right;
}

.h-rank, .a-rank {
    width: 6%;
    background-color: aliceblue;
}

.hidden {
    width: 10%;
    display: none;
}

.away {
    width: 26%;
    padding-left: 5px;
    text-align: left;
}

.team {
    width: 30%;
    padding-left: 5px;
    text-align: left;
}

.cols {
    width: 6%;
}

.home-flag, .away-flag {
    width: 6%
}

.home-flag img, .away-flag img {
    width: 55%;
    text-align: center;
}
.res, .pts, .bon {
    width: 4%;
    background-color: gainsboro;
}

.res-header {
    padding: 2px;
}

.results-home-flag, .results-away-flag {
    width: 6.5%
}

.predictions-home-flag, .predictions-away-flag {
    width: 4%
}

.results-home-flag img, .results-away-flag img {
    width: 55%;
    text-align: center;
}

.predictions-home-flag img, .predictions-away-flag img {
    width: 55%;
    text-align: center;
}

#playerheader {
    padding: 5px;
    font-size: 1em;
}

#playerheader th td {
    border: none;
}

.col-scorer {
    width: 80%;
}

/* ******************************************************************************************   */

/* ******************************************************************************************   */
/*                                          NAV SECTION                                         */
/* ******************************************************************************************   */

.options {    
    display:flex;
    align-items: center;
    justify-content: space-around;
    
    background-color: white;
    padding: 10px;
}

.options-link {
    text-decoration: none;
    font-size: 0.9em;
    color: #3498db;
}

.options-link:hover {
    color: darkgreen;
    text-decoration: underline;
}

/* ******************************************************************************************   */
/*                                          FOOTER SECTION                                      */
/* ******************************************************************************************   */

footer p {
    text-transform: uppercase;          /* change text in para tags to uppercase */
    font-size: 14px;
    color: rgba(255,255,255,0.6);       /* add a transparent overlay of white - 0.6 = 60% opacity */
    margin-bottom: 10px;
}

footer ul {
    display: flex;                      /* display child items of parent element, ie the ul, into a row */
    flex-direction: row;
    list-style: none;
    margin-bottom: 5px;
}

footer ul li {
    margin: 0 20px;                     /* spreads out the line items containing the social media icons */
}

footer ul li a {
    font-size: 36px;                    /* makes the icons bigger and ensure the cursor is always the pointer */
    cursor: pointer;
    color: white;
}
/* ------------------ Transparent Buttons ------------------------- */

/* white text white border                                          */
.transparent-btn { 
    display: inline-block; 
    padding: 5px 10px; 
    color: #FFF; 
    border: 1px solid #FFF; 
    text-decoration: none; 
    font-size: 16px; 
    line-height: 120%; 
    background-color: rgba(255,255,255, 0); 
    border-radius: 4px; transition: background-color 300ms ease; 
    cursor: pointer; 
}
.transparent-btn:hover { 
    background-color: rgba(255,255,255, 0.2); 
    color: #000; 
}

/* white text blue background                                      */
.transparent-btn-blue { 
    display: inline-block; 
    padding: 5px 10px; 
    margin: 10px;
    color: #FFF; 
    border: 1px solid #00F; 
    text-decoration: none; 
    font-size: 14px; 
    line-height: 120%; 
    background-color: rgba(0,0,255, 0.6); 
    border-radius: 4px; 
    transition: background-color 300ms ease; 
    cursor: pointer; 
}
.transparent-btn-blue:hover { 
    background-color: rgba(0,0,255, 0.2); 
    color: #000; 
}

/* smaller blue text white background                                      */
.transparent-btn-white { 
    display: inline-block; 
    padding: 3px 5px; 
    color: #00F; 
    border: 1px solid #00F; 
    text-decoration: none; 
    font-size: 12px; 
    line-height: 120%; 
    background-color: rgba(255,255,255, 0); 
    border-radius: 4px; 
    transition: background-color 300ms ease; 
    cursor: pointer; 
}

.transparent-btn-white:hover { 
    background-color: rgba(0,0,255, 0.3); 
    color: #000; 
}

/* smaller blue border text white                                       */
.transparent-btn-blue-small { 
    display: inline-block; 
    padding: 3px 5px; 
    color: #FFF; 
    border: 2px solid #00F; 
    text-decoration: none; 
    font-size: 12px; 
    line-height: 120%; 
    background-color: rgba(0,123,255, 1); 
    border-radius: 4px; 
    transition: background-color 300ms ease; 
    cursor: pointer; 
}
.transparent-btn-blue-small:hover { 
    background-color: rgba(0,123,255, 0.2); 
    color: #FFF; 
}

#logout {
    text-align: center;
}

/* ******************************************************************************************   */
/*                                          FORM FIELDS                                         */
/* ******************************************************************************************   */


input {
    width: 85%;
    color: darkblue;
    background-color: aliceblue;
    font-size: 0.9em;
    text-align: center;
}

#scorer-input {
    text-align: left;
}

#goals-input {
    text-align: center;
}

#scorer-input, .goals-input {
    font-size: 1em;
    padding: 2px;
}

#scorer, #goals th td {
    padding: 4px;
    border: dotted 1px black
}


/* ---------------------------------- END OF DEFAULT MEDIA RULE FOR 576 --------------------------------------------------------- */


/* ******************************************************************************************   */
/*                       MEDIA RULES 1200px 992ox 768px 552px                                   */
/* ******************************************************************************************   */

/* ******************************************************************************************   */
/* apply to any device that has a screen width of 1200px or higher                              */
/* ******************************************************************************************   */

@media screen and (min-width:1200px) {                   
    
    main {
        width: 96%;
 
        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-rows: 10vh 5vh auto auto; */
        grid-template-rows: 10vh auto auto;
        grid-gap: 5px;
        margin: 0 auto;
    }
  
    #container {
        grid-template-areas:
            "header"
            /* "nav" */
            "tabs"
            "tournment"
            "footer";
    }

    header {
        grid-template-areas:
            "logo header-text";
    }
 
    #GROUPS {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 5px;
        margin: 0 auto;

        grid-template-areas:
            "SectionA"
            "SectionB"
            "SectionC"
            "SectionD"
    }
    
        #TableA, #TableB, #TableC, #TableD {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        #SectionA, #SectionB, #SectionC, #SectionD {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

    #KNOCKOUT-STAGE {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 3px;
        margin: 0 auto;

        grid-template-areas:
            "QF"
            "SF"
            "FL"
    }

        #QF, #SF, #FL {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }


    #team-flags {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 5px;
        margin: 0 auto;

    }
        #team-flags div {
            text-align: center;
        }

    #SAVE-PREDICTIONS {

        display: block;
    }

        #chkbox-error {
            display: none;
            font-style: italic;
            text-align: center;
            padding: 10px;
            color: red;
        }

        input[type="checkbox"] {
                width: 5%;
            }

        #save-predictions {
                padding: 10px;
            }

            #confirm-save {

                grid-area: confirm-save;            
                padding: 10px;
                text-align: center;
            }    
            #confirm-btn {

                display: flex;
                justify-content: center;
                
            }    
            #save-btn {

                grid-area: confirm-btn;            

                border: 0;
                line-height: 2.5;
                padding: 0 20px;
                font-size: 1rem;
                text-align: center;
                color: #fff;
                text-shadow: 1px 1px 1px #000;
                border-radius: 10px;
                background-color: #3498db;
            }

            #save-btn:hover {
                background-color: cadetblue;
            }

            #save-btn:active {
                border-color: black;           
            }

    #RESULTS-PREDICTIONS {
        display: flex;
    }

        #results-predictions {

            display: grid;
            grid-template-columns: 0.75fr 1.25fr;
            grid-template-rows: auto;
            grid-gap: 5px;
            margin: 0 auto;

            grid-template-areas:
                "results predictions";
        }

} /** end of @media screen and (min-width:1200px) */

