*{                                  /* Override browsers default CSS rules  */
    margin:0;
    padding:0;
    box-sizing: content-box;
}

body {
     font-family: 'Open Sans', sans-serif;
/*     background-color: #131633;*/
     background-color: white;
     color: #34495e;
/*     color:white;*/
     line-height: 1.5;
}

header h1 {
     font-size: 2.5em;
     text-align: center;
     color: white;
     margin-bottom: 20px;
     text-shadow: 2px 2px #22638E;
}

/* 
----------------------------------------------------------------------------------
Each section has a GRID-AREA named after the section ID
----------------------------------------------------------------------------------
*/

#container {
    margin-top: 5px;
}

header {
    
    display: grid;
    grid-area: header;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    
    width: 100%;
    background-color: lightgray;
    align-items: center;
    justify-content: center;    
/*    margin: auto auto;*/
} 

header img {
    width: 75px;
}

#logo {
    text-align: center;
}

nav {
    grid-area: nav;
    background-color: darkviolet;
}

#latest-results {
    grid-area: lastest-results;
    /* background-color: red;  */
}

#top-ten-users {
    grid-area: top-ten-users;
    /* background-color: blue;  */
}

#golden-boot {
    grid-area: golden-boot;
    /* background-color: green;  */
}

#upcoming-fixtures {
    grid-area: upcoming-fixtures;
    /* background-color: navy; */
}

#competition-stats {
    grid-area: competition-stats;
}

    #goal-stats {
        grid-area: goal-stats;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 5px;

    }

        #games-played {
            grid-area: games-played;
        }

        #total-goals {
            grid-area: total-goals;
        }

        #goals-per-game {
            grid-area: goals-per-game;
        }

        #top-team {
            grid-area: top-team;
        }

        #top-game {
            grid-area: top-game;
        }

        #penalties {
            grid-area: penalties;
        }


        .stat-title {
            text-align: center;
            font-size: 0.9em;
            background-color: navy;
            color: white;
        }

        .stat-value {
            text-align: center;
            background-color: lightgreen;
            color: green;
            font-size: 2em;
            border: 1px dotted black;
        }

#competition-rules {
    grid-area: competition-rules;
}

.card-title {
    color:white;
    background-color: #4f97d5;
    font-size: 1.25em;
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
}

input {
    width: 85%;
    color: darkblue;
    background-color: aliceblue;
    font-size: 1.25em;
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
}
section {
    padding:10px;
    text-align: center;
}

/* ******************************************************************************************   */
/*                                          FOOTER SECTION                                      */
/* ******************************************************************************************   */

#social-media {
    grid-area: footer;

    display: flex;                                  /* display UL, P & P elements vertically and center them */
    flex-direction: column;
    align-items: center;

    background: linear-gradient(to bottom, lightgray, #000 100%);
    color: white;
    padding-top: 10px;
}

#social-media p {
    text-transform: uppercase;          /* change text in para tags to uppercase */
    font-size: 14px;
    color: rgba(255,255,255,0.6);       /* add a transparent overlay of white - 0.6 = 60% opacity */
    margin-bottom: 10px;
}

#social-media ul {
    display: flex;                      /* display child items of parent element, ie the ul, into a row */
    flex-direction: row;
    list-style: none;
    margin-bottom: 5px;
}

#social-media ul li {
    margin: 0 20px;                     /* spreads out the line items containing the social media icons */
}

#social-media ul li a {
    font-size: 36px;                    /* makes the icons bigger and ensure the cursor is always the pointer */
    cursor: pointer;
    color: white;
}

.options {
    
    display:flex;
    align-items: center;
    justify-content: flex-end;
    
    background-color: white;
    padding: 10px 10px;
}

.options-link {
    background-color: #199319;
    text-decoration: none;
    font-size: 0.9em;
    color: #3498db;
    padding: 5px;
        
    /* // color: white;
    // padding: 15px 25px;
    text-decoration: none; */
}

.options-link:hover {
    color: darkgreen;
    text-decoration: underline;
}

/* ******************************************************************************************   */
/*                                          BUTTONS                                             */
/* ******************************************************************************************   */

/* white text white border                                          */
.transparent-btn { 
    display: inline-block; 
    padding: 5px 10px; 
    color: #FFF; 
    border: 1px solid #FFF; 
    text-decoration: none; 
    font-size: 16px; 
    line-height: 120%; 
    background-color: rgba(255,255,255, 0); 
    border-radius: 4px; transition: background-color 300ms ease; 
    cursor: pointer; 
}
.transparent-btn:hover { 
    background-color: rgba(255,255,255, 0.2); 
    color: #000; 
}

/* white text blue background                                      */
.transparent-btn-blue { 
    display: inline-block; 
    padding: 5px 10px; 
    margin: 10px;
    color: #FFF; 
    border: 1px solid #00F; 
    text-decoration: none; 
    font-size: 14px; 
    line-height: 120%; 
    background-color: rgba(0,0,255, 0.6); 
    border-radius: 4px; 
    transition: background-color 300ms ease; 
    cursor: pointer; 
}
.transparent-btn-blue:hover { 
    background-color: rgba(0,0,255, 0.2); 
    color: #000; 
}

/* smaller blue text white background                                      */
.transparent-btn-white { 
    display: inline-block; 
    padding: 3px 5px; 
    color: #00F; 
    border: 1px solid #00F; 
    text-decoration: none; 
    font-size: 12px; 
    line-height: 120%; 
    background-color: rgba(255,255,255, 0); 
    border-radius: 4px; 
    transition: background-color 300ms ease; 
    cursor: pointer; 
}

.transparent-btn-white:hover { 
    background-color: rgba(0,0,255, 0.3); 
    color: #000; 
}

/* smaller blue border text white                                       */
.transparent-btn-blue-small { 
    display: inline-block; 
    padding: 3px 5px; 
    color: #FFF; 
    border: 2px solid #00F; 
    text-decoration: none; 
    font-size: 12px; 
    line-height: 120%; 
    background-color: rgba(0,123,255, 1); 
    border-radius: 4px; 
    transition: background-color 300ms ease; 
    cursor: pointer; 
}
.transparent-btn-blue-small:hover { 
    background-color: rgba(0,123,255, 0.2); 
    color: #FFF; 
}

#login-register {
    text-align: center;
}

/* ******************************************************************************************   */
/*                                          TABLES                                              */
/* ******************************************************************************************   */

.greenheader {
    background-color: green;
    color: white;
}

.blueheader {
    background-color: navy;
    color: white;
}

tbody {
    background-color: white;
    color: black;
}

table {
    font-size: 0.75em;
    width: 96%;
    padding: 2px;
    text-align: center;    
    border: 1px dotted black;
    margin: auto auto;
}

th, td {
    border-left: 1px dotted black;
    border-right: 1px dotted black;
    border-bottom: 1px dotted black;
}

.cols {
    width: 10%;
    text-align: center;
}
.team-flag {
    width: 6%
}

.team-flag img {
    width: 55%;
    text-align: center;
    vertical-align: sub;
}

.hidden {
    display: none;
}

/* .upcoming-fixtures-tbl table {
    width: 98%;
    margin: 5px auto;
    border-collapse: collapse;
} */

.align-right {
    width: 40%;
    padding-right: 5px;
    text-align: right;
}

.align-left {
    width: 40%;
    padding-left: 5px;
    text-align: left;
}

.align-center {
    width: 10%;
    text-align: center;
    font-weight: bold;
}

.versus {
    width: 10%;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}

.team {
    font-size: 1.5em;
    width: 30%;
    text-align: center;
    color: navy;
    font-weight: bold;
}

.country-flag img {
    width: 55%;
    text-align: center;
}

    /* 
    ----------------------------------------------------------------------------------
    Hamburger Drop Down Menu
    ----------------------------------------------------------------------------------
    */
    #profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        .bar1, .bar2, .bar3 {
            width: 30px;
            height: 4px;
            background-color: #333;
            margin: 2px 0;
        }

        .dropdown {
            float: left;
            overflow: hidden;
        }

        .dropdown {
            font-size: 14px;  
            border: none;
            outline: none;
            color: white;
            padding: 10px 10px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
        }

        .dropdown:hover {
            /* background-color: red; */
        }

        .dropdown-content {
            display: none;
            position: absolute;
            right: 75px;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            float: none;
            color: black;
            padding: 10px 10px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

/* ******************************************************************************************   */

/* ---------------------------------- END OF DEFAULT MEDIA RULE FOR 576 --------------------------------------------------------- */


/* ******************************************************************************************   */
/*                       MEDIA RULES 1200px 992ox 768px 552px                                   */
/* ******************************************************************************************   */

/* ******************************************************************************************   */
/* apply to any device that has a screen width of 1200px or higher                              */
/* ******************************************************************************************   */

@media screen and (min-width:1200px){                   
    
    main {
        width: 98%;
/*        max-width: 800px;*/
 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10vh auto auto auto;
        grid-gap: 5px;
        margin: 0 auto;
    }
 
    /* 
    ----------------------------------------------------------------------------------
    Grid is three columns - specify what is in each column on each row
    header, navigation, and footer span across the 3 colums
    content is spaced into each column as seen below.
    ----------------------------------------------------------------------------------
    */
    #container{
        grid-template-areas:
            "header header header"
            "lastest-results top-ten-users golden-boot"
            "upcoming-fixtures competition-stats competition-rules"
            "footer footer footer";
    }
 
    header {
        grid-template-areas:
            "logo header-text";
    }

    #goal-stats {
        grid-template-areas:
            "games-played total-goals goals-per-game"
            "top-team top-game penalties";
    }

}

/* ******************************************************************************************   */
/* apply to any device that has a screen width of 992px or higher                              */
/* ******************************************************************************************   */

@media screen and (max-width:1200px){                   
    
    body {
        background-color: antiquewhite;
    }
    main{
        width: 90%;
/*        max-width: 800px; */
 
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10vh auto auto auto auto;
        grid-gap: 5px;
        margin: 0 auto;
    }
 
    .transparent-btn-blue {
        margin: 2px;
    }
    
    /* 
    ----------------------------------------------------------------------------------
    Grid is three columns - specify what is in each column on each row
    header, navigation, and footer span across the 3 colums
    content is spaced into each column as seen below.
    ----------------------------------------------------------------------------------
    */
    #container{
        grid-template-areas:
            "header header"
            "lastest-results top-ten-users"
            "golden-boot upcoming-fixtures"
            "competition-stats competition-rules"
            "footer footer";
    }
 
}

/* ******************************************************************************************   */
/* apply to any device that has a screen width of 768px or higher                              */
/* ******************************************************************************************   */

@media screen and (max-width:992px){                   
    
    body {
        background-color: burlywood;
    }
    main{
        width: 90%;
/*        max-width: 800px;*/
 
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10vh auto auto auto auto;
        grid-gap: 5px;
        margin: 0 auto;
    }
 
    .transparent-btn-blue {
        margin: 2px;
    }
    
    /* 
    ----------------------------------------------------------------------------------
    Grid is three columns - specify what is in each column on each row
    header, navigation, and footer span across the 3 colums
    content is spaced into each column as seen below.
    ----------------------------------------------------------------------------------
    */
    #container{
        grid-template-areas:
            "header header"
            "lastest-results top-ten-users"
            "golden-boot upcoming-fixtures"
            "competition-stats competition-rules"
            "footer footer";
    }
 
}

/* ******************************************************************************************   */
/* apply to any device that has a screen width of 552px or higher                              */
/* ******************************************************************************************   */

@media screen and (max-width:768px){                   
    
    body {
/*        background-color: yellow;*/
    }
    main{
        width: 90%;
/*        max-width: 800px;*/
 
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto auto;
        grid-gap: 5px;
        margin: 0 auto;
    }
 
    header h1 {
     font-size: 2em;
}
    /* 
    ----------------------------------------------------------------------------------
    Grid is three columns - specify what is in each column on each row
    header, navigation, and footer span across the 3 colums
    content is spaced into each column as seen below.
    ----------------------------------------------------------------------------------
    */
    #container{
        grid-template-areas:
            "header"
            "lastest-results"
            "top-ten-users"
            "golden-boot" 
            "upcoming-fixtures"
            "competition-stats" 
            "competition-rules"
            "footer";
    }
 
    #social-media p {
        font-size: 10px;
        margin-bottom: 5px;
    }

    #social-media ul li {
        margin: 0 10px;                     /* spreads out the line items containing the social media icons */
    }

    #social-media ul li a {
        font-size: 30px;                    /* makes the icons bigger and ensure the cursor is always the pointer */
    }
}
