/* ******************************************************************************************   */
/*                                          TABS                                                */
/* ******************************************************************************************   */

    .tab {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;

        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        margin: 2px;
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
        border: none;
        padding: 10px 8px;
        transition: 0.1s;
        margin: 1px;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
        border: 1px solid navy;
        margin: 1px;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
    }

/* 
----------------------------------------------------------------------------------
Update buttons on fixtures update table
----------------------------------------------------------------------------------
*/

.update-btn {
    margin: 5px;
    padding: 2px;
    background-color: aliceblue;
}

.update-btn:hover {
    background-color: blue;
    color: white;
}

/* 
----------------------------------------------------------------------------------
Each section has a GRID-AREA named after the section ID
----------------------------------------------------------------------------------
*/

#logo {
    text-align: center;
}

#logout {
    text-align: center;
}

#username {
    grid-area: username;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    padding: 3px;
    border: 1px solid darkgray;
    background-color: rgba(141,27,61, 0.5);
}

#tabs {
    grid-area: tabs;
    width: 98%;
    margin: 5px auto;
    margin-top: 5px;
    position: fixed;
    z-index: 9;
    top: 80px;
    left: 1%;
}

#tournament { grid-area: tournament; }

    #GROUPS-ABCD { grid-area: GROUPS-ABCD; }

        #SectionA { grid-area: SectionA; }
            #GroupA { grid-area: GroupA; }
            #TableA { grid-area: TableA; }

        #SectionB { grid-area: SectionB; }
            #GroupB { grid-area: GroupB; }
            #TableB { grid-area: TableB; }

        #SectionC { grid-area: SectionC; }
            #GroupC { grid-area: GroupC; }
            #TableC { grid-area: TableC; }

        #SectionD { grid-area: SectionD; }
            #GroupD { grid-area: GroupD; }
            #TableD { grid-area: TableD; }

    #GROUPS-EFGH { grid-area: GROUPS-EFGH; }

        #SectionE { grid-area: SectionE; }
            #GroupE { grid-area: GroupE; }
            #TableE { grid-area: TableE; }

        #SectionF { grid-area: SectionF; }
            #GroupF { grid-area: GroupF; }
            #TableF { grid-area: TableF; }

        #SectionG { grid-area: SectionG; }
            #GroupG { grid-area: GroupG; }
            #TableG { grid-area: TableG; }

        #SectionH { grid-area: SectionH; }
            #GroupH { grid-area: GroupH; }
            #TableH { grid-area: TableH; }

            #GroupA, #GroupB, #GroupC, #GroupD, #GroupE, #GroupF, #GroupG, #GroupH  { width: 50%; }    
            #TableA, #TableB, #TableC, #TableD, #TableE, #TableF, #TableG, #TableH  { width: 50%; }    

    #team-header {
        grid-area: team-header;
        background-color: white;
    }

#KNOCKOUT-STAGE { grid-area: KNOCKOUT-STAGE; display: grid; width: 100%}    
        #Last16       {grid-area: Last16;}
        #QuarterFinal {grid-area: QuarterFinal;}
        #SemiFinal    {grid-area: SemiFinal;}

#FINALS-STAGE {grid-area: FINALS-STAGE;}    
        #Playoff {grid-area: Playoff;}
        #Final {grid-area: Final;}

#TOP-SCORER {grid-area: TOP-SCORER;}

    #top-scorer-instructions {
        padding: 10px;
        font-size: 0.9em;
        border: 1px solid black; 
        box-shadow: 5px 5px 5px lightblue;
    }

    #top-scorer-selections {
        display: flex;
    }

    #top-scorer-selections table {
        width: 60%;
        box-shadow: 5px 5px 5px lightblue;

    }

#SAVE-PREDICTIONS {
    
    grid-area: SAVE-PREDICTIONS;
    justify-content: center;

    background-color: white;
    width: 50%;
    padding: 10px;
    margin: 0 auto;            
    
}
        #chkbox-error {
            display: none;
            font-style: italic;
            text-align: center;
            padding: 10px;
            color: red;
        }

        input[type="checkbox"] {
            width: 5%;
        }

        #save-predictions {
            padding: 10px;
        }

        #confirm-save {

            grid-area: confirm-save;            
            padding: 10px;
            text-align: center;
        }    

        #confirm-btn {

            display: flex;
            justify-content: center;

        }    

        #confirm-predictions {
            text-align: center;
            padding:15px;
        }
           
#UPDATE-PREDICTIONS {
    
    grid-area: UPDATE-PREDICTIONS;
    justify-content: center;

    background-color: white;
    width: 50%;
    padding: 10px;
    margin: 0 auto;            
    
}
        #chkbox-error {
            display: none;
            font-style: italic;
            text-align: center;
            padding: 10px;
            color: red;
        }

        input[type="checkbox"] {
            width: 5%;
        }

        #update-predictions {
            margin: 50px auto 50px auto;
            padding: 10px;
            border: 1px solid black;
            box-shadow: 5px 5px 5px lightblue;
        }

        #confirm-save {

            grid-area: confirm-save;            
            padding: 10px;
            text-align: center;
        }    

        #confirm-btn {

            display: flex;
            justify-content: center;

        }    
        #update-btn, #save-btn {

            grid-area: update-btn;            

            padding: 10px 10px; 
            margin: 10px;
            color: navy;                     
            border: 1px solid #00F; 
            text-decoration: none; 
            font-size: 14px; 
            line-height: 120%; 
            border-radius: 2px; 
            transition: background-color 300ms ease; 
            cursor: pointer; 
        }

        #update-btn:hover, #save-btn:hover {
            box-shadow: 5px 5px 5px lightblue;
            color: #000; 
        }

        #update-btn:active, #save-btn:active {
            border-color: black;           
        }

#RESULTS-PREDICTIONS {grid-area: RESULTS-PREDICTIONS;}
    #results-predictions {grid-area: results-predictions;}
        #results {grid-area : results;}

            #results-tbl       {width: 100%;}
            #results-tbl table {width: 99%;}

        #predictions {grid-area : predictions;}
            #predictions-tbl table {width: 99%;}
            #predictions-tbl table .home, #predictions-tbl table .away {
                width: 24%;
            }

    /* define colors to identify the different tournament stages */
    .ls-color {
        background: lightpink;
    }
    .qf-color {
        background: lightcyan;
    }
    .sf-color {
        background: lightblue;
    }
    .pl-color {
        background: lightgoldenrodyellow;
    }
    .fi-color {
        background: lightgreen;
    }

/* ******************************************************************************************   */
/*                                          IMAGES                                              */
/* ******************************************************************************************   */


/* ******************************************************************************************   */
/*                                          TABLES                                              */
/* ******************************************************************************************   */

.greenheader {
    background-color: green;
    color: white;
}

.blueheader {
    background-color: navy;
    color: white;
}

tbody {
    background-color: white;
    color: black;
}

#Final table {
    font-size: 0.9em;
}

table {
    width: 98%;
}

.pos, .fixno, .predno {
    width: 6%;
    background-color: gainsboro;
}

.home { text-align: right; }
.away { text-align: left;  }

.home, .away {
    width: 26%;
    padding-right: 5px ;
    padding-left: 5px ;
    font-size: 1.2em;
}

.h-rank, .a-rank {
    width: 6%;
    background-color: aliceblue;
}

.hidden {
    width: 10%;
    display: none;
}

.team {
    width: 30%;
    padding-left: 5px;
    text-align: left;
    font-size: 1.2em;
}

.cols {
    width: 6%;
}

.home-flag, .away-flag {
    width: 6%
}

.home-flag img, .away-flag img {
    width: 82%;
    display: block;
    margin: auto auto;
}

.points {
    width: 4%;
    background: floralwhite;
}
.bonus {
    width: 4%;
    background: gold;
}

.res, .pts, .bon {
    width: 4%;
    background-color: gainsboro;
}

.res-header {
    padding: 2px;
}

.results-home-flag, .results-away-flag {
    width: 85%;
    display: flex;
    justify-content: center;
}

.predictions-home-flag, .predictions-away-flag {
    width: 85%;
    display: flex;
    justify-content: center;
}

.results-home-flag img, .results-away-flag img {
    width: 82%;
}

.predictions-home-flag img, .predictions-away-flag img {
    width: 82%;
}

#playerheader {
    padding: 5px;
    font-size: 1em;
}

#playerheader th td {
    border: none;
}

.col-scorer {
    width: 80%;
}

/* ******************************************************************************************   */

/* ******************************************************************************************   */
/*                                          FORM FIELDS                                         */
/* ******************************************************************************************   */


input {
    /* width: 85%;
    color: darkblue;
    background-color: aliceblue; */
    font-size: 1em;
    /* text-align: center; */
    padding: 0px;
    margin-bottom: 0px;
}

#scorer-input {
    text-align: left;
}

#goals-input {
    text-align: center;
}

#scorer-input, .goals-input {
    font-size: 1em;
    padding: 2px;
}

#scorer, #goals th td {
    padding: 4px;
    border: dotted 1px black
}


/* ******************************************************************************************   */
/*                       MEDIA RULES 1200px 992ox 768px 576px                                   */
/* ******************************************************************************************   */

/* ******************************************************************************************   */
/* apply to any device that has a screen width of 576px or higher                               */
/* ******************************************************************************************   */

@media screen and (max-width:576px) {                   
    

    main {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }
  
    #tournament {
        width: 98%;
        margin: 52px auto 0 auto;        
    }

    #container {
        grid-template-areas:
            /* "header" */
            "tabs"
            "tournament";
            /* "footer"; */
    }

    #tabs {
        top: 50px;
    }

    .tab {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
        padding: 4px 4px;
    }
    
    #qatar-flag-r {
        display: none;
    }

    header {
        grid-template-areas:
            "qatar-flag-l header-text username hb-icon";
    }
 
    header {
        
        display: grid;
        grid-area: header;
        grid-template-columns: 1fr 10fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 2px;
        justify-content: center;    

    } 
        header h1 {
            font-size: 1.2em;
            text-align: center;
            color: white;
            /* margin-bottom: 10px; */
            text-shadow: 2px 2px #22638E;
        }
        header img {
            width: 75px;
        }
 
    .home, .away {
        width: 20%;
        padding-right: 2px;
        padding-left: 2px;
        font-size: 1em;
    }

    .team {
        width: 25%;
        padding-left: 2px;
        text-align: left;
        font-size: 1em; 
    }

    section {
        padding: 0px;
    }
    
    #GROUPS-ABCD {

        grid-template-areas:
            "SectionA"
            "SectionB"
            "SectionC"
            "SectionD"
    }
        #SectionA {
            grid-template-areas:
                "GroupA"
                "TableA";
        }
        #SectionB {
            grid-template-areas:
                "GroupB"
                "TableB";
        }
        #SectionC {
            grid-template-areas:
                "GroupC"
                "TableC";
        }
        #SectionD {
            grid-template-areas:
                "GroupD"
                "TableD";
        }

    #GROUPS-EFGH {

        grid-template-areas:
            "SectionE"
            "SectionF"
            "SectionG"
            "SectionH"
    }
        #SectionE {
            grid-template-areas:
                "GroupE"
                "TableE";
        }
        #SectionF {
            grid-template-areas:
                "GroupF"
                "TableF";
        }
        #SectionG {
            grid-template-areas:
                "GroupG"
                "TableG";
        }
        #SectionH {
            grid-template-areas:
                "GroupH"
                "TableH";
        }

    #GROUPS-ABCD, #GROUPS-EFGH {

        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 5px;
        margin: 0 auto;
    }

        #TableA, #TableB, #TableC, #TableD, #TableE, #TableF, #TableG, #TableH {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        #SectionA, #SectionB, #SectionC, #SectionD, #SectionE, #SectionF, #SectionG, #SectionH {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        #GroupA, #GroupB, #GroupC, #GroupD, #GroupE, #GroupF, #GroupG, #GroupH  { width: 100%; margin-bottom: 5px;}    
        #TableA, #TableB, #TableC, #TableD, #TableE, #TableF, #TableG, #TableH  { width: 100%; }    

    #KNOCKOUT-STAGE {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 3px;
        margin: 0 auto;

        grid-template-areas:
            "LS"
            "QF"
            "SF";
    }

        #LS, #QF, #SF {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

    #FINALS-STAGE {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 3px;
        margin: 0 auto;
        width: 98%;

        grid-template-areas:
            "PL"
            "FL";
    }

        #PL, #FL {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

    #top-scorer-instructions {
        padding: 4px;
        font-size: 0.8em;
    }

    #top-scorer-selections table {
        width: 100%;
    }

    #team-flags {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 5px;
        margin: 0 auto;

        text-align: center;
        font-size: 0.7em;

    }
        #team-flags div {
            text-align: center;
        }

        #team-flags a {
            text-decoration: none;
        }

        #team-flags img {
            width: 75%;
        }

        #team-flags img:hover {
            box-shadow: 5px 5px 5px lightgreen;
        }

    #UPDATE-PREDICTIONS, #SAVE-PREDICTIONS {

        display: block;
        width: 100%;
        padding: 0px;
    }

        #chkbox-error {
            display: none;
            font-style: italic;
            text-align: center;
            padding: 10px;
            color: red;
        }

        input[type="checkbox"] {
                width: 5%;
            }

        #save-predictions {
                padding: 10px;
            }

            #confirm-predictions {
                margin-top: 10px;
                box-shadow: 5px 5px 5px lightblue;
                border: 1px solid green;
            }

            #confirm-save {

                grid-area: confirm-save;            
                padding: 10px;
                text-align: center;
            }    
            #confirm-btn {

                display: flex;
                justify-content: center;
                
            }    
            
    #RESULTS-PREDICTIONS {
        display: flex;
    }

        #results-predictions {

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-gap: 5px;
            margin: 0 auto;

            grid-template-areas:
                "predictions"
                "results";
        }

        #predictions-tbl table {
            width: 100%;
            font-size: 0.65em;
        }

        #predictions-tbl table .home, #predictions-tbl table .away {
            width: 20%;
        }

} 
/** end of @media screen and (max-width:576px) */

/* ******************************************************************************************   */
/* apply to any device that has a screen width of 576px or higher                               */
/* ******************************************************************************************   */

@media screen and (min-width:576px) {                   
    
    #tournament {
        width: 98%;
        margin: 52px auto 0 auto;        
    }

    main {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }
  
    #container {
        grid-template-areas:
            /* "header" */
            "tabs"
            "tournament";
            /* "footer"; */
    }

    #tabs {
        top: 56px;
    }

    .tab {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
        padding: 4px 4px;
    }
    
    #qatar-flag-r {
        display: none;
    }

    header {
        grid-template-areas:
            "qatar-flag-l header-text username hb-icon";
    }
 
    header {
        
        display: grid;
        grid-area: header;
        grid-template-columns: 1fr 10fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 2px;
        justify-content: center;    

    } 
        header h1 {
            font-size: 1.2em;
            text-align: center;
            color: white;
            /* margin-bottom: 10px; */
            text-shadow: 2px 2px #22638E;
        }
        header img {
            width: 75px;
        }
 
    .home, .away {
        width: 20%;
        padding-right: 2px;
        padding-left: 2px;
        font-size: 1em;
    }

    .team {
        width: 25%;
        padding-left: 2px;
        text-align: left;
        font-size: 1em; 
    }

    section {
        padding: 0px;
    }
    
    #GROUPS-ABCD {

        grid-template-areas:
            "SectionA"
            "SectionB"
            "SectionC"
            "SectionD"
    }
        #SectionA {
            grid-template-areas:
                "GroupA"
                "TableA";
        }
        #SectionB {
            grid-template-areas:
                "GroupB"
                "TableB";
        }
        #SectionC {
            grid-template-areas:
                "GroupC"
                "TableC";
        }
        #SectionD {
            grid-template-areas:
                "GroupD"
                "TableD";
        }

    #GROUPS-EFGH {

        grid-template-areas:
            "SectionE"
            "SectionF"
            "SectionG"
            "SectionH"
    }
        #SectionE {
            grid-template-areas:
                "GroupE"
                "TableE";
        }
        #SectionF {
            grid-template-areas:
                "GroupF"
                "TableF";
        }
        #SectionG {
            grid-template-areas:
                "GroupG"
                "TableG";
        }
        #SectionH {
            grid-template-areas:
                "GroupH"
                "TableH";
        }

    #GROUPS-ABCD, #GROUPS-EFGH {

        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 5px;
        margin: 0 auto;
    }

        #TableA, #TableB, #TableC, #TableD, #TableE, #TableF, #TableG, #TableH {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        #SectionA, #SectionB, #SectionC, #SectionD, #SectionE, #SectionF, #SectionG, #SectionH {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        #GroupA, #GroupB, #GroupC, #GroupD, #GroupE, #GroupF, #GroupG, #GroupH  { width: 100%; margin-bottom: 5px;}    
        #TableA, #TableB, #TableC, #TableD, #TableE, #TableF, #TableG, #TableH  { width: 100%; }    

    #KNOCKOUT-STAGE {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 3px;
        margin: 0 auto;

        grid-template-areas:
            "LS"
            "QF"
            "SF";
    }

        #LS, #QF, #SF {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

    #FINALS-STAGE {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 3px;
        margin: 0 auto;
        width: 98%;

        grid-template-areas:
            "PL"
            "FL";
    }

        #PL, #FL {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

    #top-scorer-instructions {
        padding: 4px;
        font-size: 0.8em;
    }

    #top-scorer-selections table {
        width: 100%;
    }

    #team-flags {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 5px;
        margin: 0 auto;

        text-align: center;
        font-size: 0.7em;

    }
        #team-flags div {
            text-align: center;
        }

        #team-flags a {
            text-decoration: none;
        }

        #team-flags img {
            width: 75%;
        }

        #team-flags img:hover {
            box-shadow: 5px 5px 5px lightgreen;
        }

    #UPDATE-PREDICTIONS, #SAVE-PREDICTIONS {
        width: 98%;        
        display: block;
        padding: 0px;
    }

        #chkbox-error {
            display: none;
            font-style: italic;
            text-align: center;
            padding: 10px;
            color: red;
        }

        input[type="checkbox"] {
                width: 5%;
            }

        #save-predictions {
                padding: 10px;
            }

            #confirm-predictions {
                margin-top: 10px;
                box-shadow: 5px 5px 5px lightblue;
                border: 1px solid green;
            }

            #confirm-save {

                grid-area: confirm-save;            
                padding: 10px;
                text-align: center;
            }    
            #confirm-btn {

                display: flex;
                justify-content: center;
                
            }    
            
    #RESULTS-PREDICTIONS {
        display: flex;
    }

        #results-predictions {

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-gap: 5px;
            margin: 0 auto;

            grid-template-areas:
                "predictions"
                "results";
        }

        #predictions-tbl table {
            width: 100%;
            font-size: 0.65em;
        }

        #predictions-tbl table .home, #predictions-tbl table .away {
            width: 20%;
        }

} 
/** end of @media screen and (min-width:576px) */

/* ******************************************************************************************   */
/* apply to any device that has a screen width of 768px or higher                               */
/* ******************************************************************************************   */

@media screen and (min-width:768px) {                   

    #tournament {
        width: 98%;
        margin: 34px auto 0 auto;
    }

    main {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }
    
    #container {
        grid-template-areas:
            /* "header" */
            "tabs"
            "tournament";
            /* "footer"; */
    }

    #tabs {
        top: 70px;
    }

    .tab {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
        padding: 8px 6px;
    }
    
    #qatar-flag-r {
        display: none;
    }

    header {
        grid-template-areas:
            "qatar-flag-l header-text username hb-icon";
    }
 
    header {
        
        display: grid;
        grid-area: header;
        grid-template-columns: 1fr 10fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 2px;
        justify-content: center;    

    } 
        header h1 {
            font-size: 1.2em;
            text-align: center;
            color: white;
            /* margin-bottom: 10px; */
            text-shadow: 2px 2px #22638E;
        }
        header img {
            width: 75px;
        }
 
    .home, .away {
        width: 26%;
        padding-right: 4px;
        padding-left: 4px;
        font-size: 1.1em;
    }

    .team {
        width: 25%;
        padding-left: 2px;
        text-align: left;
        font-size: 1em; 
    }

    section {
        padding: 0px;
    }
    
    #GROUPS-ABCD {

        grid-template-areas:
            "SectionA"
            "SectionB"
            "SectionC"
            "SectionD"
    }
        #SectionA {
            grid-template-areas:
                "GroupA"
                "TableA";
        }
        #SectionB {
            grid-template-areas:
                "GroupB"
                "TableB";
        }
        #SectionC {
            grid-template-areas:
                "GroupC"
                "TableC";
        }
        #SectionD {
            grid-template-areas:
                "GroupD"
                "TableD";
        }

    #GROUPS-EFGH {

        grid-template-areas:
            "SectionE"
            "SectionF"
            "SectionG"
            "SectionH"
    }
        #SectionE {
            grid-template-areas:
                "GroupE"
                "TableE";
        }
        #SectionF {
            grid-template-areas:
                "GroupF"
                "TableF";
        }
        #SectionG {
            grid-template-areas:
                "GroupG"
                "TableG";
        }
        #SectionH {
            grid-template-areas:
                "GroupH"
                "TableH";
        }

    #GROUPS-ABCD, #GROUPS-EFGH {

        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 5px;
        margin: 0 auto;
    }

        #TableA, #TableB, #TableC, #TableD, #TableE, #TableF, #TableG, #TableH {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        #SectionA, #SectionB, #SectionC, #SectionD, #SectionE, #SectionF, #SectionG, #SectionH {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        #GroupA, #GroupB, #GroupC, #GroupD, #GroupE, #GroupF, #GroupG, #GroupH  { width: 100%; margin-bottom: 5px;}    
        #TableA, #TableB, #TableC, #TableD, #TableE, #TableF, #TableG, #TableH  { width: 100%; }    

    #KNOCKOUT-STAGE {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 3px;
        margin: 0 auto;

        grid-template-areas:
            "LS"
            "QF"
            "SF";
    }

        #LS, #QF, #SF {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

    #FINALS-STAGE {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 3px;
        margin: 0 auto;
        width: 98%;

        grid-template-areas:
            "PL"
            "FL";
    }

        #PL, #FL {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

    #top-scorer-instructions {
        padding: 4px;
        font-size: 0.8em;
    }

    #top-scorer-selections {
        margin: 10px;
    }

    #top-scorer-selections table {
        width: 100%;
    }

    #team-flags {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 5px;
        margin: 0 auto;

        text-align: center;
        font-size: 0.7em;

    }
        #team-flags div {
            text-align: center;
        }

        #team-flags a {
            text-decoration: none;
        }

        #team-flags img {
            width: 75%;
        }

        #team-flags img:hover {
            box-shadow: 5px 5px 5px lightgreen;
        }

    #UPDATE-PREDICTIONS, #SAVE-PREDICTIONS {
        width: 98%;        
        display: block;
        padding: 0px;
    }

        #chkbox-error {
            display: none;
            font-style: italic;
            text-align: center;
            padding: 10px;
            color: red;
        }

        input[type="checkbox"] {
                width: 5%;
            }

        #save-predictions {
                padding: 10px;
            }

            #confirm-predictions {
                margin-top: 10px;
                box-shadow: 5px 5px 5px lightblue;
                border: 1px solid green;
            }

            #confirm-save {

                grid-area: confirm-save;            
                padding: 10px;
                text-align: center;
            }    
            #confirm-btn {

                display: flex;
                justify-content: center;
                
            }    
            
    #RESULTS-PREDICTIONS {
        display: flex;
    }

        #results-predictions {

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-gap: 5px;
            margin: 0 auto;

            grid-template-areas:
                "predictions"
                "results";
        }

        #predictions-tbl table {
            width: 100%;
            font-size: 0.65em;
        }

        #predictions-tbl table .home, #predictions-tbl table .away {
            width: 24%;
            font-size: 1.2em;
        }

} 
/** end of @media screen and (min-width:768px) */

/* ******************************************************************************************   */
/* apply to any device that has a screen width of 992px or higher                              */
/* ******************************************************************************************   */

@media screen and (min-width:992px) {                   

    #tournament {
        width: 98%;
        margin: 36px auto 0 auto;
    }

    main {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }

    #container {
        grid-template-areas:
            /* "header" */
            "tabs"
            "tournament"
            /* "footer"; */
    }

    #tabs {
        top: 70px;
    }

    .tab {
        flex-wrap: nowrap;
        justify-content: center;
    }

    .tab button {
        border: none;
        padding: 10px 8px;
        transition: 0.1s;
        margin: 1px;
    }

    header {
        grid-template-areas:
            "logo qatar-flag-l header-text qatar-flag-r username hb-icon";
    }
 
    header {
        
        display: grid;
        grid-area: header;
        grid-template-columns: 1fr 1fr 10fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 10px;
        justify-content: center;    

    } 
        #qatar-flag-r {
            display: flex;
        }
        header h1 {
            font-size: 2.5em;
            text-align: center;
            color: white;
            /* margin-bottom: 20px; */
            text-shadow: 2px 2px #22638E;
        }
        header img {
            width: 75px;
        }

        #KNOCKOUT-STAGE .home, #KNOCKOUT-STAGE .away {
            width: 20%;
            padding-right: 3px;
            padding-left: 3px;
            font-size: 0.9em;
        }  

        .home, .away {
            width: 24%;
            padding-right: 3px;
            padding-left: 3px;
            /* font-size: 1.1em; */
        }

        .team {
            width: 30%;
            padding-left: 3px;
            text-align: left;
            font-size: 1.1em;
        }

    #GROUPS-ABCD, #GROUPS-EFGH {

        width: 98%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 5px;
        margin: 0 auto;
    }

    #GROUPS-ABCD {

        grid-template-areas:
            "SectionA"
            "SectionB"
            "SectionC"
            "SectionD"
    }

    #GROUPS-EFGH {

        grid-template-areas:
            "SectionE"
            "SectionF"
            "SectionG"
            "SectionH"
    }
    
        #TableA, #TableB, #TableC, #TableD, #TableE, #TableF, #TableG, #TableH {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        #SectionA, #SectionB, #SectionC, #SectionD, #SectionE, #SectionF, #SectionG, #SectionH {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

    #KNOCKOUT-STAGE {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 3px;
        margin: 0 auto;

        grid-template-areas:
            "LS QF SF"
    }

        #LS, #QF, #SF {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

    #FINALS-STAGE {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 25vh;
        grid-gap: 3px;
        margin: 0 auto;
        width: 98%;

        grid-template-areas:
            "PL FL"
    }

        #PL, #FL {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

    #top-scorer-instructions {
        padding: 10px;
        font-size: 1em;
    }

    #top-scorer-selections table {
        width: 90%;
    }

    #team-flags {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 5px;
        margin: 0 auto;

        text-align: center;
        font-size: 0.7em;

    }
        #team-flags div {
            text-align: center;
        }

        #team-flags a {
            text-decoration: none;
        }

        #team-flags img {
            width: 75%;
        }

        #team-flags img:hover {
            box-shadow: 5px 5px 5px lightgreen;
        }

    #top-goal-scorer {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: auto;
        margin: 1% 2%;
    }


#UPDATE-PREDICTIONS, #SAVE-PREDICTIONS {
    width: 50%;        
}

#SAVE-PREDICTIONS {

        display: block;
    }

        #chkbox-error {
            display: none;
            font-style: italic;
            text-align: center;
            padding: 10px;
            color: red;
        }

        input[type="checkbox"] {
                width: 5%;
            }

        #save-predictions {
                padding: 10px;
            }

            #confirm-predictions {
                margin-top: 10px;
                box-shadow: 5px 5px 5px lightblue;
                border: 1px solid green;
            }

            #confirm-save {

                grid-area: confirm-save;            
                padding: 10px;
                text-align: center;
            }    
            #confirm-btn {

                display: flex;
                justify-content: center;
                
            }    
            
    #RESULTS-PREDICTIONS {
        display: flex;
    }

        #results-predictions {

            display: grid;
            grid-template-columns: 0.8fr 1.2fr;
            grid-template-rows: auto;
            grid-gap: 5px;
            margin: 0 auto;

            grid-template-areas:
                "results predictions";
        }

        #predictions-tbl table {
            width: 100%;
            font-size: 0.63em;
        }

        #predictions-tbl table .home, #predictions-tbl table .away {
            width: 24%;
        }

        #predictions-home-flag img,  #predictions-away-flag img {
            width: 79%;
        }        

        .results-home-flag img, .results-away-flag img {
            width: 78%;
        }

        .results-home-flag, .results-away-flag {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

} 
/** end of @media screen and (min-width:992px) */



/* ******************************************************************************************   */
/* apply to any device that has a screen width of 1200px or higher                              */
/* ******************************************************************************************   */

@media screen and (min-width:1200px) {                   
    
    #tournament {
        width: 98%;
        margin: 42px auto 0 auto;
    }
    
    main {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }

    #container {
        grid-template-areas:
            /* "header" */
            "tabs"
            "tournament"
            /* "footer"; */
    }

    #tabs {
        width: 98%;
        top: 80px;
    }

    .tab {
        flex-wrap: nowrap;
        justify-content: center;
    }

    .tab button {
        border: none;
        padding: 10px 8px;
        transition: 0.1s;
        margin: 1px;
    }

    header {
        grid-template-areas:
            "logo qatar-flag-l header-text qatar-flag-r username hb-icon";
    }
 
    header {
        
        display: grid;
        grid-area: header;
        grid-template-columns: 1fr 1fr 10fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 10px;
        justify-content: center;    

    } 
        #qatar-flag-r {
            display: flex;
        }
        header h1 {
            font-size: 2.5em;
            text-align: center;
            color: white;
            /* margin-bottom: 20px; */
            text-shadow: 2px 2px #22638E;
        }
        header img {
            width: 75px;
        }

        .home, .away {
            width: 26%;
            padding-right: 5px;
            padding-left: 5px;
            font-size: 1.2em;
        }

        .team {
            width: 30%;
            padding-left: 5px;
            text-align: left;
            font-size: 1.2em;
        }

    #GROUPS-ABCD, #GROUPS-EFGH {

        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 5px;
        margin: 0 auto;
    }

    #GROUPS-ABCD {

        grid-template-areas:
            "SectionA"
            "SectionB"
            "SectionC"
            "SectionD"
    }

    #GROUPS-EFGH {

        grid-template-areas:
            "SectionE"
            "SectionF"
            "SectionG"
            "SectionH"
    }
    
        #TableA, #TableB, #TableC, #TableD, #TableE, #TableF, #TableG, #TableH {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        #SectionA, #SectionB, #SectionC, #SectionD, #SectionE, #SectionF, #SectionG, #SectionH {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

    #KNOCKOUT-STAGE {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 5px;
        margin: 0 auto;

        grid-template-areas:
            "LS QF SF"
    }

        #KNOCKOUT-STAGE .home, #KNOCKOUT-STAGE .away {
            width: 26%;
            padding-right: 5px;
            padding-left: 5px;
            font-size: 1.2em;
        }

        #LS, #QF, #SF {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

    #FINALS-STAGE {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 25vh;
        grid-gap: 3px;
        margin: 0 auto;
        width: 98%;

        grid-template-areas:
            "PL FL"
    }

        #PL, #FL {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

    #top-scorer-instructions {
        padding: 10px;
        font-size: 1em;
    }

    #top-scorer-selections table {
        width: 60%;
    }

    #team-flags {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 5px;
        margin: 0 auto;

        text-align: center;
        font-size: 0.7em;

    }
        #team-flags div {
            text-align: center;
        }

        #team-flags a {
            text-decoration: none;
        }

        #team-flags img {
            width: 75%;
        }

        #team-flags img:hover {
            box-shadow: 5px 5px 5px lightgreen;
        }

    #top-goal-scorer {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: auto;
        margin: 1% 2%;
    }


#UPDATE-PREDICTIONS, #SAVE-PREDICTIONS {
    width: 50%;        
}

#SAVE-PREDICTIONS {

        display: block;
    }

        #chkbox-error {
            display: none;
            font-style: italic;
            text-align: center;
            padding: 10px;
            color: red;
        }

        input[type="checkbox"] {
                width: 5%;
            }

        #save-predictions {
                padding: 10px;
            }

            #confirm-predictions {
                margin-top: 10px;
                box-shadow: 5px 5px 5px lightblue;
                border: 1px solid green;
            }

            #confirm-save {

                grid-area: confirm-save;            
                padding: 10px;
                text-align: center;
            }    
            #confirm-btn {

                display: flex;
                justify-content: center;
                
            }    
            
    #RESULTS-PREDICTIONS {
        display: flex;
    }

        #results-predictions {

            display: grid;
            grid-template-columns: 0.75fr 1.25fr;
            grid-template-rows: auto;
            grid-gap: 5px;
            margin: 0 auto;

            grid-template-areas:
                "results predictions";
        }

        #predictions-tbl table {
            width: 100%;
            font-size: 0.75em;
        }

        #predictions-tbl table .home, #predictions-tbl table .away {
            width: 24%;
        }

} 
/** end of @media screen and (min-width:1200px) */

